<p style="color: green"><%= notice %></p>

<%= render @requirement_course %>

<div>
  <%= link_to "Edit this requirement course", edit_requirement_course_path(@requirement_course) %> |
  <%= link_to "Back to requirement courses", requirement_courses_path %>

  <%= button_to "Destroy this requirement course", @requirement_course, method: :delete %>
</div>
