<p style="color: green"><%= notice %></p>

<%= render @course_prerequisite %>

<div>
  <%= link_to "Edit this course prerequisite", edit_course_prerequisite_path(@course_prerequisite) %> |
  <%= link_to "Back to course prerequisites", course_prerequisites_path %>

  <%= button_to "Destroy this course prerequisite", @course_prerequisite, method: :delete %>
</div>
