<h1 class="heading">Create Your Profile</h1>

<div class="d-flex justify-content-center">
<%= form_for @user, url: update_profile_user_path(@user), method: :patch do |f| %>
  <div class="field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name, disabled: true, value: @user.full_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email, disabled: true, value: @user.email %>
  </div>
  <div class="field">
    <%= f.label :major_id, "Major" %><br>
    <%= f.select :major_id, @majors, { include_blank: 'Select a Major' }, { required: true } %>
  </div>
  <div class="field">
    <%= f.label :preference_id, "Preferred Subject" %><br>
    <%= f.select :preference_id, @subjects, { include_blank: 'Select a Subject' }, { required: true } %>
  </div>
  <div class="field">
    <%= f.label :max_class_hours, "Max Class Hours" %><br>
    <%= f.select :max_class_hours, (12..24).to_a, { include_blank: 'Select Hours' }, { required: true } %>
  </div>
  <div class="field">
    <%= f.label :graduation_semester, "Graduation Semester" %><br>
    <%= f.select :graduation_semester, ["Fall", "Spring"], { include_blank: 'Select Semester' }, { required: true } %>
  </div>
  <div class="field mb-2">
    <%= f.label :graduation_year, "Graduation Year" %><br>
    <%= f.select :graduation_year, ((Time.now.year)..(Time.now.year + 5)).to_a, { include_blank: 'Select Year' }, { required: true } %>
  </div>
  <div class="actions">
    <%= f.submit "Create Profile" %>
  </div>
<% end %>
</div>
