<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<div class="">
  <div class="d-flex justify-content-center"><h1>User Profile</h1></div>
  <div class="d-flex justify-content-center"><p><strong>Name:</strong> <%= @user.full_name %></p></div>
  <div class="d-flex justify-content-center"><p><strong>Email:</strong> <%= @user.email %></p></div>
  <div class="d-flex justify-content-center"><p><strong>Major:</strong> <%= @major %></p></div>
  <div class="d-flex justify-content-center"><p><strong>Preferred Subject:</strong> <%= @preference || "Not selected" %></p></div>
  <div class="d-flex justify-content-center"><p><strong>Max Class Hours:</strong> <%= @user.max_class_hours %></p></div>
  <div class="d-flex justify-content-center"><p><strong>Graduation Semester:</strong> <%= @user.graduation_semester %></p></div>
  <div class="d-flex justify-content-center"><p><strong>Graduation Year:</strong> <%= @user.graduation_year %></p></div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Edit this user", edit_user_profile_path %>
</div>

<div class="d-flex justify-content-center">
  <%= button_to "Destroy this user", @user, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "delete" %>
</div>
