<p style="color: green"><%= notice %></p>

<p><strong>Name:</strong> <%= @user.full_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Major:</strong> <%= @user.major %></p>

<div>
  <%= link_to "Edit this user", edit_user_profile_path %> |

  <%= link_to "User interests", user_interests_path %>

  <%= button_to "Destroy this user", @user, method: :delete, data: {confirm: "Are you sure?"} %>
</div>
