<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= link_to "User interests", user_interests_path %>

  <%= button_to "Destroy this user", @user, method: :delete, data: {confirm: "Are you sure?"} %>
</div>
