<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<%= render @user_interest %>

<div>
  <%= link_to "Edit this user interest", edit_user_interest_path(@user_interest) %> |
  <%= link_to "Back to user interests", user_interests_path %>

  <%= button_to "Destroy this user interest", @user_interest, method: :delete, data: {confirm: "Are you sure?"}, class: "delete" %>
</div>
