<link rel="stylesheet" href="assets/stylesheets/application.css">

<p style="color: green"><%= notice %></p>

<%= render @degree_plan %>

<div>
  <%= link_to "Edit this degree plan", edit_degree_plan_path(@degree_plan) %> |
  <%= link_to "Back to degree plans", degree_plans_path %>

  <%= button_to "Destroy this degree plan", @degree_plan, method: :delete %>
</div>
