<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course.credits %>
  </p>
</div>
