<link rel="stylesheet" href="assets/stylesheets/application.css">

<h1 class="heading">Courses for <%= @subject.code %></h1>

<div id="courses">
  <div class="row row-cols-1 row-cols-md-3">
    <% @courses.each do |course| %>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to course.name, course %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= course.subject.code %> <%= course.code %>
            </h6>
            <p class="card-text"><%= course.credits %> credit hours</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Back to Subjects", courses_path %>
