<% content_for :title, "New user plan course" %>

<h1>New user plan course</h1>

<%= form_with(model: @user_plan_course) do |form| %>
  <% if @user_plan_course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user_plan_course.errors.count, "error") %> prohibited this user_plan_course from being saved:</h2>

      <ul>
        <% @user_plan_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.select :course_id, options_from_collection_for_select(Course.all, :id, :name), prompt: 'Select a course' %>
  </div>

  <div>
    <%= form.label :has_taken, style: "display: block" %>
    <%= form.check_box :has_taken, prompt: 'Have you taken this course?' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
