<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cleo 501 Course" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="assets/stylesheets/application.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      .flash {
        padding: 10px 20px;
        border-radius: 5px;
        margin: 10px auto;
        width: 90%;
        max-width: 400px;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
      }
      .flash__alert { background-color: var(--error-color); color: white; border: 1px solid #f5c6cb; }
      .flash__notice { background-color: #d1ecf1; color: #0c5460; border: 1px solid #bee5eb; }
      .flash__success { background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; }

      .fade-out {
        opacity: 0;
      }
    </style>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end %>
    <% end %>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <%= link_to "Cleo", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Plan", user_plan_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Courses", courses_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Degrees", requirement_courses_path, class: "nav-link" %>
        </li>
        <!--<li class="nav-item dropdown">-->
        <!--  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--    Dropdown-->
        <!--  </a>-->
        <!--  <ul class="dropdown-menu">-->
        <!--    <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--    <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--    <li><hr class="dropdown-divider"></li>-->
        <!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--  </ul>-->
        <!--</li>-->
      </ul>
      <!--<form class="d-flex" role="search">-->
      <!--  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--  <button class="btn btn-outline-success" type="submit">Search</button>-->
      <!--</form>-->
    </div>
  </div>
</nav>

    <%= yield %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const flashMessages = document.querySelectorAll('.flash');

        flashMessages.forEach(flash => {
          // Make the flash message disappear after 5 seconds
          setTimeout(() => {
            flash.classList.add('fade-out');
          }, 3000); // 3 seconds before starting fade-out

          // Remove the flash message from the DOM after the fade-out completes
          setTimeout(() => {
            flash.remove();
          }, 5000); // total 5 seconds to remove the message
        });
      });
    </script>
  </body>
</html>
